*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.menu{
    text-align: right;
    position: absolute;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
}
nav{
    display: inline-block;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    margin: 30px;
    padding: 20px;
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    box-shadow: 5px 5px 10px;
    border-radius: 50%;
}
a:hover{
    box-shadow: 1px 1px 20px;
    
}
.full{
    height: 100vh;
}
  
.full-red{
    background-color: red;
    position: relative;
}
.full-blue{
    background-color: blue;
    position: relative;
}
.full-green{
    background-color: purple;
    position: relative;
}
.box{
    top: 50%;    
    left: 50%;     
    transform: translate(-50%, -50%);
    position: absolute;
}
.box h2{
    text-align: center;
    color: yellow;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}